<html>
    <head>
        <title>Breed Predictor</title>
        <style>
            body {
                max-width: 1000px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Dog and Cat Breed Predictor</h1>
        <p>{{ message }}</p>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>

        <p>
            This model was trained using the data from the 
            <a href="https://dockship.io/challenges/5fdcba715f392d4d66289d43/animal-breed-classification-ai-challenge/overview">Dockship 'Animal Breed Classification AI Challenge'</a>
            <br>
            The data is limited in scope and so the model is only able to make predictions on the following breeds:
        </p>
        <div style="overflow:auto;">
            <ul style="width:20%; float:left;">
                <h2>Dogs</h2>
                <li>American Bulldog</li>
                <li>American Pit Bull Terrier</li>
                <li>Basset Hound</li>
                <li>Beagle</li>
                <li>Boxer</li>
                <li>Chihuahua</li>
                <li>English Cocker Spaniel</li>
                <li>English Setter</li>
                <li>German Shorthaired</li>
                <li>Great Pyrenees</li>
                <li>Havanese</li>
                <li>Japanese Chin</li>
                <li>Keeshond</li>
                <li>Leonberger</li>
                <li>Miniature Pinscher</li>
                <li>Newfoundland</li>
                <li>Pomeranian</li>
                <li>Pug</li>
                <li>Saint Bernard</li>
                <li>Samoyed</li>
                <li>Scottish Terrier</li>
                <li>Shiba Inu</li>
                <li>Staffordshire Bull Terrier</li>
                <li>Wheaten Terrier</li>
                <li>Yorkshire Terrier</li>
            </ul>
            <ul style="width:20%; float:left;">
                <h2>Cats</h2>
                <li>Abyssinian</li>
                <li>Bengal</li>
                <li>Birman</li>
                <li>Bombay</li>
                <li>British Shorthair</li>
                <li>Egyptian Mau</li>
                <li>Maine Coon</li>
                <li>Persian</li>
                <li>Ragdoll</li>
                <li>Russian Blue</li>
                <li>Siamese</li>
                <li>Sphynx</li> 
            </ul>
        </div>
        <p>
            Note: The confidence is the predicted probability of the estimation being 
            correct, assuming that the breed is one of the 37 listed. As is becoming 
            common knowledge with the mainstream adoption of ChatGPT, AI can be 
            confidently wrong. This model is no different. The predictions can be 
            incorrect and the model often gets confused between similar-looking breeds. 
            In testing, the model predicted the correct breed 90% of the time.
            <br>
            <u1>
                <h3>Check out my:</h3>
                <li>
                    <a href="https://github.com/jonathangosling/Breed_Classification">github repo</a> 
                    for the notebook used to train and test the model.
                </li>
                <li>
                    <a href="https://github.com/jonathangosling/Breed_Classification_App">github repo</a> 
                    used to deploy the app.
                </li>
            </u1>
        </p>
    </body>
</html>